.App {
  text-align: center;
  background-color: aquamarine;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Float-container{
  float: left;
  width: 50%;
  padding: 25px;
  display: flex;
  margin-right: 5px;
  flex: 5;
  left: 5px;
  font-size: xx-large;
}
.Items{
  left: 5px;
  margin-right: 75px;
  margin-top: 3px;
}
.FrontPageImage{
  margin-top: 1px;
  height: 400px;
  width: 800px;
  flex: 60;
  display: flex;
  margin-right: 100px;
  align-self: center;
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #cee4de;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(186, 83, 83);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
